* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
}

/* Navigation */

nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 100px;
    padding: 0 40px 0 70px;
}

nav .logo {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;

    color: black;
}

.nav-items li {
    list-style: none;
    display: inline;
    padding: 0 30px;
}

#hamburger {
    visibility: hidden;
}

.nav-items li a {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
    text-decoration: none;
    vertical-align: middle;
}

.nav-items li a:hover {
    color: #E79B56;
}

.toggle-button {
    position: absolute;
    top: 44px;
    left: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #E79B56;
}

.lets-talk-button:hover {
    opacity: 0.6;
    transition: opacity .01s ease-in-out;
    -moz-transition: opacity .01s ease-in-out;
    -webkit-transition: opacity .01s ease-in-out;
}

/* Header */

header {
    padding: 40px 40px 40px 40px;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-size: 45px;
    display: flex;
    justify-content: center;
}

.wrapper {
    text-align: left;
}

h1 {
    font-weight: 350;
}

span {
    color:#E79B56
}

/* About Me */

.about-me {
    background-color: #E79B56;
    top: 0;
    left: 0;
    padding: 20px 80px 60px 80px;
    height: auto;
    display:flex;
    justify-content:center;
}

.pic-text {
    display: flex;
    flex-direction: column;
}

.about-me h2 {
    color:white;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    display:inline;
    text-align: center;
}

.about-p {
    color:white;
    text-align: center;
    display: inline-block;
    padding: 5px 0px 10px 100px;
    width: 800px;
    left: 882px;
    top: 46px;
}

.about-me p {
    padding: 10px;
    font-weight: 400;
    font-size: 32px;
    text-align: start;
}

#portrait2 {
    height: 280px;
    width: 280px;
}

/* work */

#work-flex-shelf {
    display:flex;
    justify-content:center;
}

#work-flex-bin {
    display:flex;
    justify-content: start;
    width: 1220px;
}

#work-title {
    color:black;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    padding: 10px 0 10px 80px;
}

.project-imgs {
    width: 780px;
    height: 100%;
}

h3 {
    font-weight: 400;
    font-size: 32px;
    margin:0;  
    text-align: right;
}

h4 {
    font-weight: 350;
    font-size: 20px;
    margin: 10px 0 0 0;
    text-align: right;
}

a h4, a h3 {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
}

.project-one-shelf {
    display:flex;
    justify-content: center;
    padding: 0 0 80px 0;
}

.project-one-bin {
    display:flex;
    flex-direction: column;
    justify-content: start;
    padding:0px 40px 0px 0;
}

.project-one-shelf:hover {
    opacity: 0.7;
    transition: opacity .01s ease-in-out;
    -moz-transition: opacity .01s ease-in-out;
    -webkit-transition: opacity .01s ease-in-out;
}

.project-one-shelf:hover .ot {
    color: #E79B56;
}

.sub-shelf {
    display:flex;
    justify-content: center;
    /* padding: 0 80px 20px 80px; */
}

.sub-bin {
    display:flex;
    flex-direction: column;
    text-align: right;
    padding: 0 40px 60px 40px;
}

.sub-bin:hover {
    opacity: 0.7;
    transition: opacity .01s ease-in-out;
    -moz-transition: opacity .01s ease-in-out;
    -webkit-transition: opacity .01s ease-in-out;
    color: #E79B56;
}

.sub-bin:hover .ot {
    color: #E79B56;
}

.img-sub {
    height: 363px;
    width: 484px;
}

/* footer */

.foot-shelf {
    display: flex;
    justify-content: center;
    padding: 0 0 80px 80px;
}

.foot-bin {
    display: flex;
    flex-direction: column;
    width: 1200px;
    text-align: left;
}

.foot-item {
    text-align: left;
}
/* footer h2, h3, h4 {
    text-align: left;
} */

footer a {
    font-weight: 400;
    font-size: 32px;
    margin:0;  
    text-align: right;
    text-decoration: none;
    color: white;
}

footer a:hover {
    color:#E79B56;
}

footer h4 {
    padding: 0 0 14px 26px;
    font-size: 14px;
}

footer {
    background-color: black;
    color: white;
}

footer h2 {
    color:#E79B56;
}

/* ANIMATION FOR HERO WORDS */

  @keyframes fade-out-right {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-50%);
    }
  }

  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .fade-out-right {
    animation: fade-out-right 1s forwards;
  }

  .fade-in-left {
    animation: fade-in-left 1s forwards;
  }


@media screen and (max-width: 1080px) {

    nav {
        display: flex;
        flex-direction:row-reverse; 
    }
    
    .nav-items li {
        display: none;
    }
    
    .toggle-button {
        display: flex;
    }

    header {
        font-size: 32px;
    }

    .about-me {
        flex-direction: column;
    
    }
    
    .pic-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-p {
        width: auto;
        padding: 0 10px 0 10px;
    }

    #work-flex-bin {
        width: auto;
    }

    #work-title {
        padding: 10px 0 10px 10px;
    }

    .project-imgs {
        max-width: 80%;
        height: auto;
    }

    .project-one-shelf {
        flex-direction: column;
        align-items: center;
        padding: 0 0 40px 0;
    }

    .project-one-bin {
        align-items: center;
        padding: 0 0 0 0;
    }

    h4 {
        margin: 10px 0 10px 0;
    }

    .sub-shelf {
        display:flex;
        flex-direction: column;
    }
    
    .sub-bin {
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px 40px 10px;
    }
    
    .img-sub {
        height: auto;
        width: 80%;
    }

}

